.form {

      width: 300px;
      height: 360px;
      border-radius: 5rem;
      background-color: #708090;
      padding: 2rem;
      color: rgb(0, 0, 0);
      margin-left: 30%;
      margin-top: 5%;
      z-index: 4;
      

  }

  .title {

      text-align: center;
      font-size: 3.5rem;
      line-height: 5rem;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
      Word-spacing: 20px;

  }
  .subtitle{

      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;

  }

  .aviso{

      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5rem;
      line-height: 2rem;
      Word-spacing: 80px;
      color: #2e2b2b;

  }

  .info{

      margin: 0;
      margin-top: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5rem; 
      text-align: center;   
    
  }
  
  .info2{
      margin: 0;
      margin-top: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5rem; 
      text-align: left;
      color: rgb(24, 65, 38);
  }

   .info3{
      margin: 0;
      margin-top: 30px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      color: rgb(0, 0, 0);
  }